.navbar{
	background-color: blue;
	color: white;
	font-family: Times New Roman;
}
h4{
	font-family: times;
	color: purple;
}
p{
	font-family: Times New Roman;
	line-height: 1;
}
.list-group-item{
	color: purple;
	font-family: Times New Roman;
	line-height: 1;
}
.list-group-item:hover{
	color: red;
}
.nav-link:hover{
	background-color: red;
	border-radius: 10px;
}
.btn:hover{
	background-color: red;
}
footer{
	background-color: blue;
}
.div2{
	background-color: #f5f5f5;
	width: 85%;
	height: auto;
	padding: 10px;
	border: 1px solid #d7d7d9;
}
#a1{
	color: black;
	font-family: Times;
}
#a1:hover{
	color: red;
}