<div class="container">
    <h2 class='font-italic my-3 text-center'>Angular 7</h2>
    <h3 class='my-3'>About Single Page Application</h3>
    <p>Single page applications are an app that works inside a browser and do not need page reloading during usage. There are many examples of SPAs around the net that you use every day, such as Google, Gmail, Maps, Facebook, Twitter or GitHub etc.</p>
    <h3 class='my-3'>Perks of Single Page Application (SPAs)</h3>
    <ol>
        <li>Speed and responsiveness –Single Page Applications are fast; with them, a server doesn’t have to reload most resources such as HTML + CSS + Scripts with every interaction- only needing initial loading. Afterwards only new data is downloaded from the server. Plus, SPAs only reload particular pieces of content- so they have a lighter server payload.</li>
        <li>Offline support and caching – SPAs can cache to any local storage with dispatch. The SPAs sends one request to the server and then stores all the data it receives. The app can use the data, this is why an SPA can operate even offline, contrasting an MPA, so you can keep using it even if your device loses connectivity.</li> 
        <li>Easier to debug with Chrome- this is because you can see all the code at once (since it’s all located on a single page).</li>
    </ol>       
    <h3 class='my-3'>Pitfalls of Single Page Application (SPAs)</h3>
    <ol>
        <li>Memory leaks – memory leaks, i.e. loss of available computer memory, in SPAs, can happen due to event listeners</li>
        <li>It can be slow to download because of heavy client frameworks which are required to be loaded to the client</li>
        <li>Security concerns – compared to traditional applications, SPAs are less secure. Due to cross-site scripting(XSS), attackers exploit this and inject client-side scripts into web application by other users.</li>
    </ol>
</div>
