    <div class='container'>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 border-1 border-warning mt-5">
                <h4 class="mt-5 text-center">Login</h4>
                <hr>
                <label>Email ID</label>
                <input class="form-control mb-4" placeholder="Email">
                <label>Password</label>
                <input class="form-control mb-4" placeholder="Password">
                <label>Gender</label>
                <select class="form-control mb-4">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
                <div class="row text-center">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button class="btn btn-primary mr-3" routerLink='/login' routerLinkActive='active'>Login</button>
                        <button class="btn btn-primary my-3" routerLink='/register' routerLinkActive='active'>Register</button>
                    </div>
                    <div class="col-3"></div>
                </div>
                    <div class="text-center my-4">
                         <button class="btn btn-primary" routerLink='/about' routerLinkActive='active'>About</button>
                    </div>
                </div>  
            <div class="col-3"></div>
        </div>
    </div>

